<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for(:title) || "NeuraMD" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="<%= image_path("logo/favicon.png") %>" type="image/png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-950 font-sans overflow-hidden"
        style="height: 100dvh;"
        data-controller="page-transition note-finder"
        data-note-finder-search-url-value="<%= search_notes_path %>">
    <%= yield %>
    <%= render "shared/note_finder" %>
  </body>
</html>
